<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../assets/css/foundation-5.5.2/css/foundation.min.css">
  <title>React - Basics</title>

  <style>
    .panel{
      width: 650px;
      margin: 20px auto;
    }
    .button{
      margin-right: 1em;
    }
  </style>

  <script src="../lib/react/react.js"></script>
  <script src="../lib/react/JSXTransformer.js"></script>
  
</head>
<body>

  <div class="panel">
    
    <div id="jsx-component"></div>

    <div id="sem-jsx"></div>

    <div id="custom-componente"></div>

    <div id="custom-props"></div>

    <div id="custom-default"></div>

  </div>

  <script type="text/jsx" src="../assets/scripts/basics.js"></script>
  
</body>
</html>